@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn {
  border-top: 1.5px solid #3b3b3b;
  border-left: 1.5px solid #3b3b3b;
  border-right: 1.5px solid #3b3b3b;
}

.hero-btn {
  border-top: 1px solid #364c09;
  border-left: 1px solid #364c09;
  border-right: 1px solid #364c09;
}

#emailForm {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  #emailForm {
    margin-top: 50px;
  }
}
